{% extends 'base.html.twig' %}

{% block title %}Ajout poduit{% endblock %}

{% block body %}
  <h1>Ajout d'un nouveau produit </h1>

<div class="alert alert-success" role="alert">
Produit {{ produit.name }} ajouté avec succés.....

</div>

{% endblock %}
