{% extends 'base.html.twig' %}

{% block title %}index
{% endblock %}
{% block body %}
<h1>Ma page 4</h1>
<ul>
{% for x in tab %}

<li>{{   x| capitalize }}</li>
    
{% endfor %}
</ul>

{% endblock %}
